In [21]:
import pandas as pd
import re
from selenium import webdriver
from selenium.webdriver.common.keys import Keys

In [22]:
browser = webdriver.Chrome()
browser.get("https://www.linkedin.com/login")
#import username and password
credential = open('credentials.txt')
line = credential.readlines()
username = line[0]
password = line[1]

In [24]:
#key in username
email_field = browser.find_element_by_id('username')
email_field.send_keys(username)
password_field = browser.find_element_by_id('password')
password_field.send_keys(password)

In [25]:
login_button = browser.find_element_by_class_name("login__form_action_container")
login_button.click()

In [26]:
browser.get("https://www.linkedin.com/jobs/")

In [27]:
job = browser.find_elements_by_class_name("job-card-square__title")
c=[]
for i in job:
    print(i.text)
    c.append(i.text)
print(c)
print()
print(len(c))

Job Title
SQL Developer
Job Title
Python Developer ( Cloud /AWS )
Job Title
Software Development Engineer (Graduate 2020/2021), Trilogy (Remote) - $60,000/year USD
Job Title
Graduate Support Engineer
Job Title
Junior Data Analyst/BI
Job Title
Software Engineer
Job Title
Back End Developer
Job Title
Senior MS-SQL Developer
Job Title
Front End Software Developer
Job Title
Frontend Developer
Job Title
asp.net developer
Job Title
ASP.Net Developer
Job Title
PHP Developer
Job Title
Full Stack Developer
Job Title
Dotnet Developer
Job Title
PHP Developer - Mid Level & Trainees
Job Title
Back End Developer
Job Title
Android Developer
Job Title
Junior .NET Developer
Job Title
Dev Ops Engineer
Job Title
Java Developer / Flutter Developer
Job Title
Back-end Developer and Front-end Developer
Job Title
Mid level Dotnet Developer
Job Title
Javascript Engineer
['Job Title\nSQL Developer', 'Job Title\nPython Developer ( Cloud /AWS )', 'Job Title\nSoftware Development Engineer (Graduate 2020/2021), Trilogy (Remote) - $60,000/year USD', 'Job Title\nGraduate Support Engineer', 'Job Title\nJunior Data Analyst/BI', 'Job Title\nSoftware Engineer', 'Job Title\nBack End Developer', 'Job Title\nSenior MS-SQL Developer', 'Job Title\nFront End Software Developer', 'Job Title\nFrontend Developer', 'Job Title\nasp.net developer', 'Job Title\nASP.Net Developer', 'Job Title\nPHP Developer', 'Job Title\nFull Stack Developer', 'Job Title\nDotnet Developer', 'Job Title\nPHP Developer - Mid Level & Trainees', 'Job Title\nBack End Developer', 'Job Title\nAndroid Developer', 'Job Title\nJunior .NET Developer', 'Job Title\nDev Ops Engineer', 'Job Title\nJava Developer / Flutter Developer', 'Job Title\nBack-end Developer and Front-end Developer', 'Job Title\nMid level Dotnet Developer', 'Job Title\nJavascript Engineer']

24

In [28]:
job_title =[]
for i in range(len(c)):
    job_title.append(c[i].strip("Job Title\n"))
    
print(job_title)
print(len(job_title))

['SQL Developer', 'Python Developer ( Cloud /AWS )', 'Software Development Engineer (Graduate 2020/2021), Trilogy (Remote) - $60,000/year USD', 'Graduate Support Engineer', 'unior Data Analyst/BI', 'Software Engineer', 'Back End Developer', 'Senior MS-SQL Developer', 'Front End Software Developer', 'Frontend Developer', 'asp.net developer', 'ASP.Net Developer', 'PHP Developer', 'Full Stack Developer', 'Dotnet Developer', 'PHP Developer - Mid Level & Trainees', 'Back End Developer', 'Android Developer', 'unior .NET Developer', 'Dev Ops Engineer', 'ava Developer / Flutter Developer', 'Back-end Developer and Front-end Developer', 'Mid level Dotnet Developer', 'avascript Engineer']
24

In [29]:

job2 = browser.find_elements_by_class_name("job-card-container__company-name")
comp_name=[]
for i in job2:
    comp_name.append(i.text)
print(comp_name)
print(len(comp_name))

['Verisk', 'Verisk', 'Crossover for Work', 'OmnicomMediaGroup Nepal', 'Daraz', 'CloudFactory.', 'Headhunt Services', 'Cotiviti', 'Foodmandu', 'WEBO Digital', 'Riddhasoft Pvt. Ltd.', 'IME Group Nepal', 'Puryau', 'Learngaroo', 'JobAxle', 'Cellapp', 'NAMLO Innovation Management Pvt. Ltd.', 'SojoJob', 'Agile Solutions Pvt. Ltd.', 'COTIVITI NEPAL (formerly Verscend Nepal)', 'Sherpa Technologies', 'eSewa Fonepay', 'Mediflow Solution Pvt. Ltd', 'Heubert']
24

In [30]:
job3 = browser.find_elements_by_class_name("job-card-container__metadata-item")
location = []
for i in job3:
    location.append(i.text)
print(location) 
print(len(location))

['Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', '', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal', 'Kathmandu, Bāgmatī, Nepal']
25

In [31]:

col = ["Company Name","Job Title","Location"]
df = pd.DataFrame({"Company Name":comp_name[slice(24)],"Job Title":job_title[slice(24)],"Location":location[slice(24)]})

In [32]:
df.head()

,Company Name,Job Title,Location
0,Verisk,SQL Developer,"Kathmandu, Bāgmatī, Nepal"
1,Verisk,Python Developer ( Cloud /AWS ),"Kathmandu, Bāgmatī, Nepal"
2,Crossover for Work,Software Development Engineer (Graduate 2020/2...,"Kathmandu, Bāgmatī, Nepal"
3,OmnicomMediaGroup Nepal,Graduate Support Engineer,
4,Daraz,unior Data Analyst/BI,"Kathmandu, Bāgmatī, Nepal"

In [33]:
df.to_csv("linkedinjobs.csv")